.ImportCsv {
  font-size: 10px;
}

.ImportCsvButton {
  font-size: 10px;
  color: white;
  background-color: black;
  border-radius: 4px;
  border: 1px solid white;
}

.CsvFormatInfo {
  font-size: xx-small;
}
