body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(240, 240, 240);
  background-color: rgb(40, 40, 40);
  padding: 20px;
}

body,
input,
button {
  font-family: monospace, monospace;
}

a {
  color: rgb(0, 181, 255);
}
